body {
		font-family:  Monospace, Arial, sans-serif;
		background-image: url("background.jpg") ; 
		background-repeat: repeat;}
		h1, h3, p{color: white;
			text-align: center;
	padding: 20px;
}


}

.gallery img {
	width: 100%;
	height: auto;
	border-radius: 10px; }